@model MyTask

@{
    ViewBag.Title = "Удаление продукта";
}
 
<div class="container text-center pt-5 ">
    <div class="row">
        <div class="col-4 mx-auto border border-4 py-3">
            <dl class="dl-horizontal ">
                <dt>Название</dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            
                <dt>Производитель</dt>
                <dd>
                    @Html.DisplayFor(model => model.Priority)
                </dd>
            
                <dt>Цена</dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
            <form asp-controller="MyTask" asp-action="Delete" method="post">
                <button type="submit" class="btn btn-danger rounded-0 px-3 py-2 ">Удалить</button>
            </form>
        </div>
    </div>
</div>